In [6]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.0'
spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [7]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-02-08 04:55:51--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  4.74MB/s    in 0.2s

2021-02-08 04:55:52 (4.74 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("BigData-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [9]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Watches_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("amazon_reviews_us_Watches_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|    3653882|R3O9SGZBVQBV76|B00FALQ1ZC|     937001370|Invicta Women's 1...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|Absolutely love t...| 2015-08-31|
|         US|   14661224| RKH8BNC3L5DLF|B00D3RGO20|     484010722|Kenneth Cole New ...|         Watches|          5|            0|          0|   N|                Y|I love thiswatch ...|I love this watch...| 2015-08-31|
|         US|   27324930|R2HLE8WKZSU3NL|B00DKYC7TK|     361166390|Ritche 22mm Black...|         Watches|          2|            1|          1|   N|                Y|           Two Stars|           Scratches| 2015-08-31|
|         US|    7211452|R31U3UH5AZ42LL|B000EQS1JW|     958035625|Citizen Men's BM8...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|It works well on ...| 2015-08-31|
|         US|   12733322|R2SV659OUJ945Y|B00A6GFD7S|     765328221|Orient ER27009B M...|         Watches|          4|            0|          0|   N|                Y|Beautiful face, b...|Beautiful watch f...| 2015-08-31|
|         US|    6576411| RA51CP8TR5A2L|B00EYSOSE8|     230493695|Casio Men's GW-94...|         Watches|          5|            0|          0|   N|                Y|       No complaints|i love this watch...| 2015-08-31|
|         US|   11811565| RB2Q7DLDN6TH6|B00WM0QA3M|     549298279|Fossil Women's ES...|         Watches|          5|            1|          1|   N|                Y|          Five Stars|for my wife and s...| 2015-08-31|
|         US|   49401598|R2RHFJV0UYBK3Y|B00A4EYBR0|     844009113|INFANTRY Mens Nig...|         Watches|          1|            1|          5|   N|                N|I was about to bu...|I was about to bu...| 2015-08-31|
|         US|   45925069|R2Z6JOQ94LFHEP|B00MAMPGGE|     263720892|G-Shock Men's Gre...|         Watches|          5|            1|          2|   N|                Y|      Perfect watch!|Watch is perfect....| 2015-08-31|
|         US|   44751341| RX27XIIWY5JPB|B004LBPB7Q|     124278407|Heiden Quad Watch...|         Watches|          4|            0|          0|   N|                Y|Great quality and...|Great quality and...| 2015-08-31|
|         US|    9962330|R15C7QEZT0LGZN|B00KGTVGKS|      28017857|Fossil Women's ES...|         Watches|          4|            2|          2|   N|                Y|           Satisfied|The watch was pre...| 2015-08-31|
|         US|   16097204|R361XSS37V0NCZ|B0039UT5OU|     685450910|Casio General Men...|         Watches|          1|            0|          0|   N|                N|I do not think th...|I bought this wat...| 2015-08-31|
|         US|   51330346| ROTNLALUAJAUB|B00MPF0XJQ|     767769082|2Tone Gold Silver...|         Watches|          3|            0|          0|   N|                Y|         Three Stars|It is a cheap wat...| 2015-08-31|
|         US|    4201739|R2DYX7QU6BGOHR|B003P1OHHS|     648595227|Bulova Men's 98B1...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|Heavier than i th...| 2015-08-31|
|         US|   26339765| RWASY7FKI7QOT|B00R70YEOE|     457338020|Casio - G-Shock -...|         Watches|          5|            2|          3|   N|                Y|  Worth it - love it|Had it for severa...| 2015-08-31|
|         US|    2692576|R2KKYZIN3CCL21|B000FVE3BG|     824370661|Invicta Men's 332...|         Watches|          5|            0|          0|   N|                Y|This is when diff...|This one is diffe...| 2015-08-31|
|         US|   44713366|R22H4FGVD5O52O|B008X6JB12|     814431355|Seiko Women's SUT...|         Watches|          4|            1|          1|   N|                Y|Thewatch is attra...|The watch is attr...| 2015-08-31|
|         US|   32778769|R11UACZERCM4ZY|B0040UOFPW|     187700878|Anne Klein Women'...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|      said my wife..| 2015-08-31|
|         US|   27258523|R1AT8NQ38UQOL6|B00UR2R5UY|     594315262|Guess U13630G1 Me...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|Nice watch, on ti...| 2015-08-31|
|         US|   42646538|R2NCZRQGIF1Q75|B00HFF57L0|     520810507|Nixon Men's Geo V...|         Watches|          4|            0|          0|   N|                Y|        Very stylish|Looks great and l...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [10]:
# Create the vine_table. DataFrame
vine_df = df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])
vine_df = vine_df.dropna()
vine_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R3O9SGZBVQBV76|          5|            0|          0|   N|                Y|
| RKH8BNC3L5DLF|          5|            0|          0|   N|                Y|
|R2HLE8WKZSU3NL|          2|            1|          1|   N|                Y|
|R31U3UH5AZ42LL|          5|            0|          0|   N|                Y|
|R2SV659OUJ945Y|          4|            0|          0|   N|                Y|
| RA51CP8TR5A2L|          5|            0|          0|   N|                Y|
| RB2Q7DLDN6TH6|          5|            1|          1|   N|                Y|
|R2RHFJV0UYBK3Y|          1|            1|          5|   N|                N|
|R2Z6JOQ94LFHEP|          5|            1|          2|   N|                Y|
| RX27XIIWY5JPB|          4|            0|          0|   N|                Y|
|R15C7QEZT0LGZN|          4|            2|          2|   N|                Y|
|R361XSS37V0NCZ|          1|            0|          0|   N|                N|
| ROTNLALUAJAUB|          3|            0|          0|   N|                Y|
|R2DYX7QU6BGOHR|          5|            0|          0|   N|                Y|
| RWASY7FKI7QOT|          5|            2|          3|   N|                Y|
|R2KKYZIN3CCL21|          5|            0|          0|   N|                Y|
|R22H4FGVD5O52O|          4|            1|          1|   N|                Y|
|R11UACZERCM4ZY|          5|            0|          0|   N|                Y|
|R1AT8NQ38UQOL6|          5|            0|          0|   N|                Y|
|R2NCZRQGIF1Q75|          4|            0|          0|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [11]:
# 1 Filter the data and create a new DataFrame or table to retrieve all the rows 
# where the total_votes count is equal to or greater than 20 to pick reviews that
# are more likely to be helpful and to avoid having division by zero errors later on.

total_votes_df = vine_df.filter("total_votes>=20")
total_votes_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R14W2VCHHK5V7W|          5|           19|         20|   N|                Y|
|R1S3T57O3OYT5S|          5|           19|         20|   N|                Y|
|R1BTWIBLYYVOV7|          5|           30|         30|   N|                Y|
| R6F9VY91ADPLA|          1|            8|         30|   N|                N|
|R3PXNV89DFIXKV|          5|           35|         37|   N|                Y|
|R2ZF9NYVT3J7D6|          5|           19|         22|   N|                Y|
|R20NYA5V0UF9NE|          5|           27|         28|   N|                Y|
|R2X8FZRUOS8R8C|          4|           25|         26|   N|                Y|
|R2D8IMBVX3XCLF|          1|           14|         20|   N|                Y|
|R25UD9TA63L3Q8|          5|           25|         27|   N|                Y|
|R2RB1HML8N712P|          5|           26|         28|   N|                Y|
| ROXA8XP5EI2KK|          5|           48|         49|   N|                N|
|R149IHTGGSRGX9|          5|           19|         20|   N|                Y|
|R1B7M0OP3UNP6O|          5|           49|         52|   Y|                N|
|R2N92CUM7WBA1A|          5|           27|         28|   N|                Y|
|R2TAFZNG4KHFQB|          4|           24|         24|   N|                Y|
| RNRFACS48ZE4A|          5|           21|         21|   N|                Y|
|R2PO5QTLXJ9LHG|          5|           33|         46|   N|                N|
|R38KDT041DRMIN|          5|           19|         24|   N|                Y|
|R2MNPDWCA42I4G|          1|           17|         20|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [12]:
# 2 Filter the new DataFrame or table created in Step 1 and create a new DataFrame 
# or table to retrieve all the rows where the number of helpful_votes divided by total_votes 
# is equal to or greater than 50%

helpful_votes_df = vine_df.filter("helpful_votes/total_votes>=.50")
helpful_votes_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R2HLE8WKZSU3NL|          2|            1|          1|   N|                Y|
| RB2Q7DLDN6TH6|          5|            1|          1|   N|                Y|
|R2Z6JOQ94LFHEP|          5|            1|          2|   N|                Y|
|R15C7QEZT0LGZN|          4|            2|          2|   N|                Y|
| RWASY7FKI7QOT|          5|            2|          3|   N|                Y|
|R22H4FGVD5O52O|          4|            1|          1|   N|                Y|
| RJ9HWWMU4IAHF|          4|            1|          1|   N|                Y|
|R3629T8HDV5VWU|          5|            1|          1|   N|                Y|
|R2QGEJRU4ENYN2|          5|            1|          1|   N|                N|
|R1HQZDBB90LMFH|          5|            2|          2|   N|                Y|
|R3O51G2D52W9DD|          5|            1|          1|   N|                Y|
|R2O0LW0AZ67P3X|          5|            4|          5|   N|                N|
|R2288KJ7D0H149|          4|            1|          1|   N|                Y|
|R38NIR3U01EIS4|          4|            1|          1|   N|                Y|
|R100HLZJGWAXRP|          1|            2|          2|   N|                Y|
|R2DOJG0AT3YOK4|          5|            4|          4|   N|                N|
|R27YN77RE11XHO|          4|            2|          2|   N|                Y|
| R6EMI5RKW73N3|          4|            1|          2|   Y|                N|
|R12NA6QEKA1PRI|          3|            3|          3|   N|                Y|
|R3USZQZ3BQBZ2O|          5|            5|          5|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [13]:
# 3 Filter the DataFrame or table created in Step 2, and create a new DataFrame or 
# table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

paid_review_df = helpful_votes_df.filter(helpful_votes_df["vine"] == "Y")
paid_review_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
| R6EMI5RKW73N3|          4|            1|          2|   Y|                N|
| R2IZD1134PGIP|          4|            1|          2|   Y|                N|
|R2IVDAK7IYLXJS|          4|            1|          1|   Y|                N|
| RCUJSPL51V519|          4|            1|          1|   Y|                N|
| R3ZNTDTGSY8SC|          4|            1|          1|   Y|                N|
|R2DC9TNKKI8EXN|          5|            1|          1|   Y|                N|
|R2GX9CYB2H258C|          5|            2|          2|   Y|                N|
| R749PGSBA9HP6|          4|            1|          1|   Y|                N|
|R170PR0NEEIW2E|          4|            2|          2|   Y|                N|
| RMAG0OPUODKQC|          5|            4|          4|   Y|                N|
|  RHVAG30G1H6R|          4|            2|          2|   Y|                N|
| RZAIBETH31MBK|          5|            3|          3|   Y|                N|
| R8S5K73HX3YTB|          3|            3|          3|   Y|                N|
| RR51IHELMLJIM|          5|            1|          1|   Y|                N|
|R1B7M0OP3UNP6O|          5|           49|         52|   Y|                N|
|R1J8KVTM0153U4|          3|            1|          1|   Y|                N|
|R38N5X3DP8GVLO|          5|            1|          2|   Y|                N|
|R3UB90FEKTPSJV|          5|            1|          1|   Y|                N|
| RDKUL1C4S84R7|          4|            1|          2|   Y|                N|
|R3EYW3RZ3EZ20D|          4|            1|          1|   Y|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [14]:
# Repeat Step 3, but this time retrieve all the rows where the review was not part of the 
#Vine program (unpaid), vine == 'N'.

unpaid_review_df = helpful_votes_df.filter(helpful_votes_df["vine"] == "N")
unpaid_review_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R2HLE8WKZSU3NL|          2|            1|          1|   N|                Y|
| RB2Q7DLDN6TH6|          5|            1|          1|   N|                Y|
|R2Z6JOQ94LFHEP|          5|            1|          2|   N|                Y|
|R15C7QEZT0LGZN|          4|            2|          2|   N|                Y|
| RWASY7FKI7QOT|          5|            2|          3|   N|                Y|
|R22H4FGVD5O52O|          4|            1|          1|   N|                Y|
| RJ9HWWMU4IAHF|          4|            1|          1|   N|                Y|
|R3629T8HDV5VWU|          5|            1|          1|   N|                Y|
|R2QGEJRU4ENYN2|          5|            1|          1|   N|                N|
|R1HQZDBB90LMFH|          5|            2|          2|   N|                Y|
|R3O51G2D52W9DD|          5|            1|          1|   N|                Y|
|R2O0LW0AZ67P3X|          5|            4|          5|   N|                N|
|R2288KJ7D0H149|          4|            1|          1|   N|                Y|
|R38NIR3U01EIS4|          4|            1|          1|   N|                Y|
|R100HLZJGWAXRP|          1|            2|          2|   N|                Y|
|R2DOJG0AT3YOK4|          5|            4|          4|   N|                N|
|R27YN77RE11XHO|          4|            2|          2|   N|                Y|
|R12NA6QEKA1PRI|          3|            3|          3|   N|                Y|
|R3USZQZ3BQBZ2O|          5|            5|          5|   N|                Y|
|R3DCF9YRPRETF2|          5|            1|          2|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [15]:
# Determine the total number of reviews (paid and unpaid).

print("Total number of Paid Reviews: %f" %paid_review_df.count())
print("Total number of Unpaid Reviews: %f" %unpaid_review_df.count())

Total number of Paid Reviews: 945.000000
Total number of Unpaid Reviews: 296087.000000

In [26]:
# Determine the number of 5-star reviews (paid vs unpaid).

paid_review_5star_df = paid_review_df.filter(paid_review_df["star_rating"] == "5")
print("5-star Paid Reviews: %f" % paid_review_5star_df.count())

unpaid_review_5star_df = unpaid_review_df.filter(unpaid_review_df["star_rating"] == "5")
print("5-star Unpaid Reviews: %f" % unpaid_review_5star_df.count())

5-star Paid Reviews: 332.000000
5-star Unpaid Reviews: 169777.000000

In [31]:
# Determine the percentage of 5-star reviews (paid vs unpaid).

percent_paid_5star = (paid_review_5star_df.count()/helpful_votes_df.count())*100
print("Paid percentage of 5-star reviews: %f" % percent_paid_5star)
percent_unpaid_5star  = (unpaid_review_5star_df.count()/helpful_votes_df.count())*100
print("Unpaid percentage of 5-star reviews: %f" % percent_unpaid_5star)

Paid percentage of 5-star reviews: 0.111772
Unpaid percentage of 5-star reviews: 57.157815